.garment_mosaic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card_garment {
  margin-top: 50px;
  width: 250px;
}

.garment_video {
  width: 250px;
  border-radius: 5px;
}

.garment_title {
  margin-top: 10px;
  font-size: 23px;
  font-weight: 400;
}

.garment_price {
  margin-top: -6px;
  color: gray;
}

.CTA {
  margin-top: -8px;
  font-size: 13px;
  background-color: gray;
  color: white;
  width: 120px;
  padding: 3px 8px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  transition: 0.15s ease-in;
}

.CTA:hover {
  font-size: 13px;
  background-color: white;
  color: gray;
  width: 120px;
  padding: 3px 8px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  transition: 0.15s ease-in;
}

